.remove-task-hidden {
  display: none;
}

.remove-task {
  display: flex;
  height: 3rem;
  background-color: var(--color-danger);
  border-radius: 0.75rem;
  margin-top: 24.75rem;
  align-items: center;
}

.remove-task img {
  padding: 0.75rem;
}

.remove-task span {
  font: var(--label);
  color: var(--bgs);
  width: 34rem;
}

#remove-task-btn {
  margin-left: 1rem;
  border: 0 none;
  background: none;
}

#remove-task-btn ion-icon {
  color: var(--bgs);
  width: 1.25rem;
  height: 1.25rem;
}
